html {
	scroll-behavior:smooth;
	overflow-x:hidden;
}
@font-face {
font-family: "Bank Gothic Medium";
font-style: normal;
font-weight: normal;
src: url("../font/ufonts.com_bank-gothic-medium.woff") format("woff");
}
body {
	overflow-x:hidden;
	font-family:'Bank Gothic Medium';
}
#carousel {
	background:orange;
}
.reseau_soc_header{
	position:absolute;
	right:1vw; 
}
.nav-social {
	height:3.5vh;
	width:auto;
	margin:0.5vw;
}
.nav-link button{
	padding: 0.7em;
	padding-right: 2em;
	padding-left: 2em;
}

.infos {
	background-color:#226968;
}
#logo_ludeek{
	height: 8vh;
}
.viewport {
	padding-top: 10vh;
}
#nav a{
	color:black;
	text-decoration:none;
	font-size: 1.2em;
}

#nav button:hover{
	background:#226968;
	transition:0.5s;
}
#nav a button:hover{
	color:#EE883C;
	transition:0.1s;
}
#navbar {
	height:10vh;
}
.infos{
	color:#EE883C;
}
#Produits h3, h4, h5{
	color: black;
}
hr.divider{
	max-width: 5em;
	border-width: 0.5em;
	border-color:#EE883C;
}
.info_img {
	max-height: 5vh;
	width: auto;
}
.social {
	max-height:8vh;
	width: auto;
}
.img_contact {
	width:50%;
	height: auto;
}

.img_produits{
	max-width: 80%;
	height: auto;
}
.accordion .card-header, .accordion .card-header button, .accordion .card-header button:hover{
	background:#226968;
	text-decoration: none;
	color:#EE883C;
	font-size: 1.3em;
}
.map{
	max-height: 40vh;
	width: auto;
}
#noustrouver {
	margin-left: -7vw;
	margin-right: -7vw;
}

@media (min-width: 992px) and (max-width: 1383px) {
	.nav-item button{
	margin-right:-50px;
	margin-left: -50px; 
	}
}
@media (min-width: 992px) and (max-width: 1280px) {

	.contact_info{
		margin-left: 7%;
		margin-right: 7%;
	}
}
@media (max-width: 991px) {
	.titre_infos{
		margin-left:15vw;
		margin-right: 15vw;
	}
	#noustrouver {
		margin-left: 14vw;
		margin-right: 14vw;
	}
}
@media (max-width: 647px) {
	#noustrouver {
	margin-left: 0vw;
	margin-right: 0vw;
	}
	#horaires{
		margin-top: -5%;
		margin-bottom: -15%;
	}
	.titre_infos h2{
		font-size: 1.4em;
	}
	#InfosPratiques h3,h4{
		font-size: 1.3em;
		margin-left: -10vw;
		margin-right: -10vw;
	}
	.nav-social {
	height:4vh;
	width:auto;
	margin:0.5vw;
	}

}
@media (min-height: 942px) {
	.nav-item button{
	margin-left: -50px; 
	}
}
@media (min-width: 450px) and (max-width:647px){
	#InfosPratiques h3{
	font-size:1em; 
	}
}
@media (min-height: 942px) and (min-width: 992px) and (max-width: 1383px) {
	.nav-item button{
	margin-left:-65px; 
	}
}
@media (max-width: 991px){
	.nav-item button{
		position:relative;
		width:320px;
		right:50px; 

	}
}
@media (max-width:850px) and (max-height:450px){
	#navbar {
	height:20vh;
	}
	#logo_ludeek{
	height: 15vh;
	}
	.nav-social {
	height:7vh;
	width:auto;
	margin:0.5vw;
	}
}
@media (max-width:640px) and (max-height:360px){
	#InfosPratiques h4{
		font-size:1em;
	}
}
@media (max-width:900px) and (max-height:900px){
	.prod-button{
		font-size:0.8em;
	}
}
@media (max-width:812px) and (max-height:375px){
	.contact_info h3{
	 position:relative;
	 left:-50px;
	}
}
@media (max-width:812px) and (max-height:375px){
	.map{
		font-size:0.8em;
	}
}