html {
	scroll-behavior:smooth;
	overflow-x:hidden;
}
@font-face {
font-family: "Bank Gothic Medium";
font-style: normal;
font-weight: normal;
src: url("../font/ufonts.com_bank-gothic-medium.woff") format("woff");
}
body {
	overflow-x:hidden;
	font-family:'Bank Gothic Medium';
}
#carousel {
	background:orange;
}

.nav-social {
	height:3.5vh;
	width:auto;
	margin:0.5vw;
}
.reseau_soc_header{
	position:absolute;
	right:1vw; 
}
.social {
	max-width:30%;
	height:45%;
}
.nav-link button{
	padding: 0.7em;
	padding-right: 2em;
	padding-left: 2em;
}
.infos {
	background-color:#226968;
}
.img_contact {
	width:40%;
}
#logo_ludeek{
	height: 8vh;
}

.info_img {
	max-height: 5vh;
	width: auto;
}
.viewport {
	padding-top: 10vh;
}
#nav a{
	color:black;
	text-decoration:none;
	font-size: 1.2em;
}

#nav button:hover{
	background:#226968;
	transition:0.5s;
}
#nav a button:hover{
	color:#EE883C;
	transition:0.1s;
}
#navbar {
	height:10vh;
}
.infos{
	color:#EE883C;
}
.img_produits{
	max-width: 80%;
	height: auto;
}
.bloc_titre_img_produits{
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}
.accordion .card-header, .accordion .card-header button, .accordion .card-header button:hover{
	background:#226968;
	text-decoration: none;
	color:#EE883C;
	font-size: 1.3em;
}

#Produits h3, h4, h5{
	color: black;
}
.map{
	max-height: 30vh;
	width: auto;
}
hr.divider{
	max-width: 5em;
	border-width: 0.5em;
	border-color:#EE883C;
}
.vertical-divider{
	height: 200px;
}